#buttons {
    margin: 20px;
}

.btn-space {
    margin-right: 5px;
}

#celebrity-form {
    margin-left: 25px;
}

body {

    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}

h1 {
    color: whitesmoke;
}

.celebrityDiv {
    float: left;
    margin: 30px;
}

.celebrityName {
    margin: 5px;
}

.color {
    color: whitesmoke;
    size: 22px;
    font-weight: strong;
}

#newGifs {
    margin: 40px;
}
